{% extends "layout.html" %}

{% block content %}
<section class="content">
    <div class="container-fluid">
       
       
        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="card card-widget widget-user shadow-lg">
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">{{ total_sales }}</h5>
                                    <span class="description-text">SALES</span>
                                </div>
                            </div>
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">{{ total_service }}</h5>
                                    <span class="description-text">SERVICES</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header">{{ total_product }}</h5>
                                    <span class="description-text">PRODUCTS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}